@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #3c3a39;
    --text-50: #f3f2f2;
    --text-100: #e6e5e5;
    --text-200: #cecbca;
    --text-300: #b5b2b0;
    --text-400: #9c9896;
    --text-500: #837e7c;
    --text-600: #696563;
    --text-700: #4f4c4a;
    --text-800: #353231;
    --text-900: #1a1919;
    --text-950: #0d0d0c;

    --background: #fcf8f3;
    --background-50: #faf3eb;
    --background-100: #f5e7d6;
    --background-200: #ebcfad;
    --background-300: #e0b785;
    --background-400: #d69f5c;
    --background-500: #cc8733;
    --background-600: #a36c29;
    --background-700: #7a511f;
    --background-800: #523614;
    --background-900: #291b0a;
    --background-950: #140e05;

    --primary: #6bae74;
    --primary-50: #eff6f0;
    --primary-100: #deede0;
    --primary-200: #bddbc1;
    --primary-300: #9cc9a2;
    --primary-400: #7bb783;
    --primary-500: #5ba464;
    --primary-600: #488450;
    --primary-700: #36633c;
    --primary-800: #244228;
    --primary-900: #122114;
    --primary-950: #09100a;

    --secondary: #c09472;
    --secondary-50: #f7f2ed;
    --secondary-100: #efe4dc;
    --secondary-200: #dfc9b9;
    --secondary-300: #d0af95;
    --secondary-400: #c09472;
    --secondary-500: #b0794f;
    --secondary-600: #8d613f;
    --secondary-700: #6a492f;
    --secondary-800: #463020;
    --secondary-900: #231810;
    --secondary-950: #120c08;

    --accent: #f28069;
    --accent-50: #fdebe8;
    --accent-100: #fbd7d0;
    --accent-200: #f7afa1;
    --accent-300: #f38872;
    --accent-400: #ef6043;
    --accent-500: #eb3814;
    --accent-600: #bc2d10;
    --accent-700: #8d220c;
    --accent-800: #5e1608;
    --accent-900: #2f0b04;
    --accent-950: #170602;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --text: #c6c4c3;
      --text-50: #0d0d0c;
      --text-100: #1a1919;
      --text-200: #353231;
      --text-300: #4f4c4a;
      --text-400: #696563;
      --text-500: #837e7c;
      --text-600: #9c9896;
      --text-700: #b5b2b0;
      --text-800: #cecbca;
      --text-900: #e6e5e5;
      --text-950: #f3f2f2;

      --background: #0c0803;
      --background-50: #140e05;
      --background-100: #291b0a;
      --background-200: #523614;
      --background-300: #7a511f;
      --background-400: #a36c29;
      --background-500: #cc8733;
      --background-600: #d69f5c;
      --background-700: #e0b785;
      --background-800: #ebcfad;
      --background-900: #f5e7d6;
      --background-950: #faf3eb;

      --primary: #51945a;
      --primary-50: #09100a;
      --primary-100: #122114;
      --primary-200: #244228;
      --primary-300: #36633c;
      --primary-400: #488450;
      --primary-500: #5ba464;
      --primary-600: #7bb783;
      --primary-700: #9cc9a2;
      --primary-800: #bddbc1;
      --primary-900: #deede0;
      --primary-950: #eff6f0;

      --secondary: #8d613f;
      --secondary-50: #120c08;
      --secondary-100: #231810;
      --secondary-200: #463020;
      --secondary-300: #6a492f;
      --secondary-400: #8d613f;
      --secondary-500: #b0794f;
      --secondary-600: #c09472;
      --secondary-700: #d0af95;
      --secondary-800: #dfc9b9;
      --secondary-900: #efe4dc;
      --secondary-950: #f7f2ed;

      --accent: #96240d;
      --accent-50: #170602;
      --accent-100: #2f0b04;
      --accent-200: #5e1608;
      --accent-300: #8d220c;
      --accent-400: #bc2d10;
      --accent-500: #eb3814;
      --accent-600: #ef6043;
      --accent-700: #f38872;
      --accent-800: #f7afa1;
      --accent-900: #fbd7d0;
      --accent-950: #fdebe8;
    }
  }
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
